<div id="sitewrapper">
  <div id="wrapper">
    <div id="header">
      <h1 >Undermink's Adressbuch</h1>

      <!--img width="100px" height="100px" src="schaf.svg" style="position:relative;float:right;top:-90;right:20;"--!></h1>
  </div>
  <div id="main" ><h2 style="text-align:center;">Adresse suchen:</h2>
    <form method='GET' action='/search' style="width:350px">
      Name:<input type='text' name='name'><br><br>
      Vorname:<input type='text' name='vorname'><br><br>
      Stra&szlig;e:<input type='text' name='strasse'><br><br>
      Wohnort:<input type='text' name='wohnort'><br><br>
      PLZ:<input type='text' name='plz'><br><br>
      email:<input type='text' name='email'><br><br>
      Telefonnummer:<input type='text' name='tel'><br><br>
      Alias:<input type='text' name='alias'><br><br>
      <input style="text-align:center;" type='submit' value='Suchen'>
    </form><br>
    <form method='GET' action='/neu' style="width:350px;text-align:center;">
      <input type='submit' value='Neue Adresse eintragen'>
    </form>
  </div>
  <div>
    <!--img src="plattenspieler.svg" style="float:right;box-shadow:5px 5px 5px black;border-radius:30px;"--!>
  </div>
</div>
</div>
