<div id="sitewrapper" style="margin:auto;width:800px;">
<div id="wrapper" style="float:left;margin:auto;border:2px solid black;border-radius:25px;margin-bottom:50px;box-shadow:5px 5px 5px black;background-color:#86afd5;background-image:moz-linear-gradient(100% 100% 90deg top, #ff0000, #86afd5);padding:20px;">
<div id="header" style="background:#fff;margin-bottom:50px;border:2px solid #000;box-shadow:5px 5px 5px black;border-radius:25px;width:800px;height:100px;overflow:hidden;">
<h1 style="text-align:center;">Undermink's Adressbuch</h1>

<img width="100px" height="100px" src="schaf.svg" style="position:relative;float:right;top:-90;right:20;"></h1>
</div>
<div id="main" style="float:left;background:#fff;width:350px;postition:relative;left:0px;border:groove 20px black;text-align:right;padding:15px;border-radius:25px;box-shadow:5px 5px 5px black;"><h2 style="text-align:center;">Adresse suchen:</h2>
<form method='GET' action='/search' style="width:350px">
  Name:<input type='text' name='name'><br><br>
  Vorname:<input type='text' name='vorname'><br><br>
  Strasse:<input type='text' name='strasse'><br><br>
  Wohnort:<input type='text' name='wohnort'><br><br>
  PLZ:<input type='text' name='plz'><br><br>
  email:<input type='text' name='email'><br><br>
  Telefonnummer:<input type='text' name='tel'><br><br>
  Alias:<input type='text' name='alias'><br><br>
  <input style="text-align:center;" type='submit' value='Suchen'>
</form><br>
<form method='GET' action='/neu' style="width:350px;text-align:center;">
	<input type='submit' value='Neue Adresse eintragen'>
</form>
</div>
<div>
<img src="plattenspieler.svg" style="float:right;box-shadow:5px 5px 5px black;border-radius:30px;">
</div>
</div>
</div>
