<div id="sitewrapper">
  <div id="wrapper">
    <div id="header">
      <h1>Undermink's Adressbuch</h1>
      <!--img width="100px" height="100px" src="schaf.svg" style="position:relative;float:right;top:-90; right:20;"--!></h1>
  </div>
  <div id="main" style="background:#000;width:400px;border-radius:25px;box-shadow:5px 5px 5px black;"><h2 style="text-align:center;">Neue Adresse eintragen:</h2>
    <form method='POST' action='/entry'>
      <div id="one" style="width:200px;float:left;">
	Vorname:<br><input type='text' name='vorname'><br>
	Stra&szlig;e:<br><input type='text' name='strasse'><br>
	PLZ:<br><input type='text' name='plz'><br>
	Telefonnummer:<br><input type='text' name='tel'><br>
	URL:<br><input type='text' name='url'><br>
	Land:<br><input type='text' name='land'><br><br>
      </div>
      <div id="two" style="width:200px;float:right;"><form method='POST' action='/entry'>
	  Name:<br><input type='text' name='name'><br>
	  Hausnummer:<br><input type='text' name='hausnr'><br>
	  Wohnort:<br><input type='text' name='wohnort'><br>
	  email:<br><input type='text' name='email'><br>
	  Alias:<br><input type='text' name='alias'><br><br>
	</div>
	<div id="three" style="postion:relative;bottom:0px;margin:auto;">
	  <br><input type='submit' value='eintragen'>
	</div>
      </form>
    </div>
    <!--img src="noten.svg" style="width:125px;height:200px;float:right;"--!><br><br><br><br><br><br><br><br><br>
    <div>
      <!--img src="box.svg" style="float:right;"--!>
    </div>
  </div>
</div>
</div>
